// ==========================================================================
// Vlaanderen UI -- RichData
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "vl-ui-core/src/scss/core";

// ==========================================================================
// Util
// ==========================================================================
@import "vl-ui-util/src/scss/util";

.vl-filter__close {
    position: absolute;
    top: 1.5rem;
    right: 0;
    padding: 0;
    border: 0;
    overflow: hidden;
}