// ==========================================================================
// Vlaanderen UI -- RichData
// ==========================================================================
@charset "utf-8";

// ==========================================================================
// Core
// ==========================================================================
@import "vl-ui-core/src/scss/core";

// ==========================================================================
// Util
// ==========================================================================
@import "vl-ui-util/src/scss/util";

#search-results, #sorter {
    line-height: 2em;
}

#sorter {
    text-align: right;

    label {
        margin-right: 10px;
    }
}

#filter-slot-container {
    margin-top: 8px;
}